.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.about__left-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.about__header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.5);
}

.about__header>h1 {
    animation: wavyGlowing 5s infinite linear;
}

.about__facts {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.about__fact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--gap) * 0.125);
}

.about__fact>svg {
    width: 16px;
    height: 16px;
}

.about__fact>svg>path {
    fill: var(--clr-primary-fg);
    opacity: 0.6;
}

.about__fact>p {
    font-size: calc(var(--fs-normal) * 0.8);
    opacity: 0.6;
}

.about__actions {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.about__actions button {
    background-color: var(--clr-accent-link);
    border: 0;
    padding: 0;
    transition: filter var(--lightup-transition);
}

.about__actions button:hover {
    filter: var(--drop-shadow-link);
}

.about__actions a {
    display: block;
    align-content: center;
    height: 100%;
    color: var(--clr-primary-bg);
}

.about__actions svg {
    transition: filter var(--lightup-transition);
}

.about__actions svg:hover {
    filter: var(--drop-shadow-link);
}

.about__actions svg path {
    fill: var(--clr-accent-link);
}

.about__info-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../public/images/info-card.svg");
    width: 215px;
    height: 64px;
    padding-inline: 20px;
}

.about__info-card span,
.about__info-card p {
    color: var(--clr-accent-theme);
}

/* --------- TOOLBOX --------- */

.toolbox__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: 0;
}

.toolbox__header a {
    cursor: pointer;
}

.toolbox__cards {
    color: var(--clr-primary-fg);
    user-select: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: var(--gap);
}

.toolbox__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    gap: 8px;
    transition: filter 50ms linear;
}

.toolbox__card:hover {
    filter: var(--drop-shadow-card);
}

.toolbox__card>img {
    width: 32px;
    height: 32px;
}

.toolbox__card>p {
    font-size: var(--fs-normal);
    user-select: none;
    cursor: normal;
}

@media screen and (max-width: 86em) {
    .about {
        flex-direction: column;
    }

    .about__left-column {
        align-items: center;
    }

    .about__left-column>p {
        text-align: center;
    }

    .about__header {
        align-items: center;
    }

    .about__header>h1 {
        text-align: center;
    }

    .about__facts {
        gap: calc(var(--gap) * 0.25);
    }

    .toolbox__card {
        width: 80px;
    }

    .toolbox__card>img {
        width: 24px;
        height: 24px;
    }

    .toolbox__card>p {
        font-size: var(--fs-normal);
    }
}
