.experience {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: var(--gap);
}

.experience>button {
    background-color: var(--clr-accent-link);
    border: 0;
    padding: 0;
    transition: filter var(--lightup-transition);
}

.experience>button:hover {
    filter: var(--drop-shadow-link);
}

.experience a {
    display: block;
    align-content: center;
    height: 100%;
    color: var(--clr-primary-bg);
}

.experience__timeline {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: calc(var(--gap) * 0.6);
}

.experience__section {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.experience__section>* {
    align-self: center;
}

.experience__indicator {
    justify-self: center;
    width: 36px;
    height: 36px;
    border: solid var(--clr-primary-bg-contrast-faint-reverse);
    border-width: 0 3px 3px 0;
    background-color: transparent;
    transform: rotate(-45deg);
}

.experience__indicator--active {
    border: solid var(--clr-primary-fg);
    border-width: 0 3px 3px 0;
    filter: var(--drop-shadow-text) var(--drop-shadow-text) var(--drop-shadow-text);
}

.experience__title>h2 {
    text-stoke: 0;
    -webkit-text-stroke: 0;
    color: var(--clr-primary-fg);
    transition: filter var(--lightup-transition);
}

.experience__title>h2:hover {
    filter: var(--drop-shadow-text);
}

.experience__title>p {
    opacity: 0.6;
}

.experience__section>ul>li {
    list-style: circle;
}

@media screen and (max-width: 86em) {
    .experience__timeline {
        grid-template-rows: none;
        /* grid-row-gap: 0; */
    }
    .experience__section {
        grid-template-rows: none;
        grid-template-columns: none;
        grid-row-gap: calc(var(--gap) * 0.5);
    }

    .experience__indicator {
        display: none;
    }
}
