.projects {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.projects__slide-show {
    display: flex;
    position: relative;
}

.projects__slide {
    position: absolute;
}

.projects__slide--active {
    position: static;
    z-index: 4;
}

.projects__slide__content {
    position: relative;
}

.projects__next-project,
.projects__prev-project {
    position: absolute;
    width: 0;
    height: 100%;
    transition: width 300ms ease-in;
    background-color: var(--clr-primary-bg-faint);
    z-index: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
}

.projects__next-project {
    right: 0;
}

.projects__prev-project {
    left: 0
}

.projects__control--navigated {
    width: calc(var(--gap) * 2);
}

.projects__slide__content>img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.projects__slide__info {
    position: absolute;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap);
    background-color: var(--clr-primary-bg);
    opacity: 0.95;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.projects__slide__info>a {
    /* background-color: var(--clr-accent-link); */
    background-color: #444;
    width: 120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-primary-bg);
    /* transition: filter var(--lightup-transition); */
    cursor: default;
    pointer-events: none;
}

/* .projects__slide__info>a:hover { */
/*     filter: var(--drop-shadow-link); */
/* } */

.projects__slide__info__text {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.projects__indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.projects__indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--clr-primary-fg);
    opacity: 0.6;
    cursor: pointer;
}

.projects__indicator--active {
    opacity: 1;
    filter: var(--drop-shadow-text);
}

@media screen and (max-width: 86em) {
    .projects__slide__info {
        height: 48px;
        padding: calc(var(--gap) * 0.5);
    }

    .projects__slide__info>a {
        width: 80px;
        height: 16px;
    }

    .projects__slide__info__text>p {
        display: none;
    }
}
