.projects {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.projects__slide-show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects__slide-show__arrow-left,
.projects__slide-show__arrow-right {
    user-select: none;
}

.projects__slide-show__arrow-left>svg,
.projects__slide-show__arrow-right>svg {
    transition: filter var(--lightup-transition);
}

.projects__slide-show__arrow-left>svg:hover,
.projects__slide-show__arrow-right>svg:hover {
    filter: var(--drop-shadow-link);
}

.projects__slides {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.projects__slide {
    position: absolute;
    height: 432px;
    aspect-ratio: 16 / 9;
    background-color: rgba(255, 255, 255, 0.6);
}

.projects__slide:first-child {
    left: var(--gap);
}

.projects__slide:last-child {
    right: var(--gap);
}

.projects__slide:first-child,
.projects__slide:last-child {
    pointer-events: none;
    opacity: 0.5;
}

.projects__slide:nth-child(2) {
    position: static;
    height: 504px;
    z-index: 1;
    background-color: var(--color-primary-foreground);
}

.projects__slide__content {
    position: relative;
    height: 100%;
}

.projects__slide__content>img {
    position: absolute;
    height: 432px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    z-index: -1;
}

.projects__slide:nth-child(2) img {
    height: 504px;
}

.projects__slide__info {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap);
    background-color: var(--color-primary-background);
    opacity: 0.95;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.projects__slide__info>a {
    background-color: var(--color-accent-link);
    width: 120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-background);
    transition: filter var(--lightup-transition);
}

.projects__slide__info>a:hover {
    filter: var(--drop-shadow-link);
}

.projects__slide__info__text {
    display: flex;
    align-items: center;
    gap: var(--gap);
}
