/*.toolbox__header {
    display: flex;
    align-items: center;
    position: relative;
    margin-inline: 0;
}

.toolbox__header > h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.toolbox__header > .menu {
    margin-left: auto;
}

.toolbox__cards {
    color: var(--primary-background-color);
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "line1 line1 line1 line1"
        "line2 line2 line2 line2"
        ". line3-left line3-right .";
    gap: var(--gap);
    margin-top: var(--gap);
}

.toolbox__card {
    place-self: center;
    display: flex;
    align-items: center;
    padding: 3px 35px;
    width: 215px;
    height: 48px;
    background-image: url("../../public/images/toolbox-card.svg");
    gap: 8px;
    transition: filter 50ms linear;
}

.toolbox__card:hover {
    filter: var(--drop-shadow-card);
}

.toolbox__card:nth-last-child(1) {
    grid-area: line3-right;
}

.toolbox__card:nth-last-child(2) {
    grid-area: line3-left;
}

.toolbox__card img {
    width: 32px;
    height: 32px;
}

.toolbox__card__text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.toolbox__card__text h3 {
    font-size: var(--font-text-size);
}

.toolbox__card__text p {
    font-size: calc(var(--font-text-size) * 0.75);
    color: rgba(34, 34, 34, 0.6);
    text-wrap: nowrap;
}*/
