.footer {
    display: flex;
    justify-content: space-between;
    padding: var(--gap) 0;
}

.footer__rights {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__rights > p:first-child {
    font-size: calc(var(--font-text-size) * 1.5);
}

.footer__rights > p:last-child {
    font-size: calc(var(--font-text-size) * 4);
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__content > p {
    font-size: calc(var(--font-text-size) * 1.5);
    text-align: right;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
}

.footer__icons svg {
    width: 32px;
    height: 32px;
    transition: filter var(--lightup-transition);
}

.footer__icons svg:hover {
    filter: var(--drop-shadow-link);
}

.footer__icons svg path {
    fill: var(--accent-link-color);
}
