.header {
    position: sticky;
    z-index: 2;
    top: 0;
    padding: var(--gap) var(--gap);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .header>.menu {
        display: none !important;
    }
}

.header-background {
    background-color: light-dark(rgba(255, 255, 255, 0.6),
            rgba(51, 51, 51, 0.6));
    backdrop-filter: blur(30px);
}

.header>* {
    height: 2rem;
}

.header__toggle-language,
.header__toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
}

#svg-lightbulb>svg {
    transition: var(--lightup-transition);
}

#svg-lightbulb>svg:hover {
    filter: var(--drop-shadow-theme);
}

#svg-lightbulb>svg>path {
    fill: var(--color-accent-theme);
}

#svg-language>svg {
    transition: var(--lightup-transition);
}

#svg-language>svg:hover {
    filter: var(--drop-shadow-toggle);
}

#svg-language>svg>path {
    fill: var(--color-accent-toggle);
}

/* --------- MENU --------- */

.menu {
    display: flex;
    align-items: center;
}

.menu>ul {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu__item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-bold);
    width: 120px;
    height: 32px;
    user-select: none;
    color: var(--color-accent-toggle);
    position: relative;
}

.menu__item>a::after {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translateY(calc(var(--font-size-normal) * 0.5 - 0.5px));
    width: 0px;
    height: 1px;
    background-color: var(--color-accent-toggle);
    transition: 300ms;
}

.menu__item>a:hover::after {
    width: 100%;
}

.menu__item--active>a {
    text-decoration: underline;
    filter: var(--drop-shadow-toggle);
}
