#main-header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--gap) * 0.8) 0;
}

.main-header-background {
    background-color: var(--clr-primary-bg-contrast-faint);
    backdrop-filter: blur(30px);
}

.main-header>* {
    height: 2rem;
}

/* --------- MOBILE MENU --------- */

.main-header__hamburger {
    display: none;
}

.main-header__hamburger>svg,
.main-header__close>svg {
    fill: var(--clr-primary-fg);
    cursor: pointer;
}

.main-header__hamburger>svg:hover,
.main-header__close>svg:hover {
    filter: var(--drop-shadow-text);
}

.main-header__mobile-menu {
    position: absolute;
    z-index: 10;
    top: calc(0px - var(--gap) * 6);
    right: 0;
    width: 100%;
    height: calc(var(--gap) * 6);
    background-color: var(--clr-primary-bg-contrast-faint);
    backdrop-filter: blur(30px);
    padding: var(--gap) 0;

    transition: top 200ms linear;
}

.main-header__mobile-menu>.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.main-header__mobile-menu--active {
    top: 0;
}

.main-header__mobile-menu>.container>ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/* --------- CONTROLS --------- */

.main-header__toggle-language,
.main-header__toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
}

#svg-lightbulb,
#svg-language {
    width: 32px;
    height: 32px;
}

#svg-lightbulb>svg,
#svg-language>svg {
    transition: var(--lightup-transition);
    cursor: pointer;
}

#svg-lightbulb>svg:hover {
    filter: var(--drop-shadow-theme);
}

#svg-lightbulb>svg>path {
    fill: var(--clr-accent-theme);
}

#svg-language>svg:hover {
    filter: var(--drop-shadow-toggle);
}

#svg-language>svg>path {
    fill: var(--clr-accent-toggle);
}

/* --------- MENU --------- */

.menu {
    display: flex;
    align-items: center;
}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu__item {
    border-bottom: 1px solid var(--clr-accent-toggle-faint);
}

.menu__item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-bold);
    width: 120px;
    height: 32px;
    user-select: none;
    color: var(--clr-accent-toggle);
}

.menu__item>a:hover {
    filter: var(--drop-shadow-toggle);
}

.menu__item--active {
    border-bottom: 1px solid var(--clr-accent-toggle);
}

.menu__item--active>a {
    filter: var(--drop-shadow-toggle);
}

@media screen and (max-width: 86em) {
    .main-header {
        gap: var(--gap);
        padding-inline: 0;
    }

    .main-header>.menu {
        display: none !important;
    }

    .main-header-background {
        background-color: transparent;
        backdrop-filter: none;
    }

    .main-header__hamburger {
        display: inline;
        flex-grow: 1;
        text-align: right;
    }

}
