@import "animations.css";

@import "header.css";
@import "footer.css";

@import "sections/about.css";
@import "sections/projects.css";
@import "sections/experience.css";

@import "fonts.css";

:root {
    color-scheme: light dark;

    --primary-background-color: light-dark(white, #222);
    --secondary-background-color: #333;
    --primary-foreground-color: light-dark(#333, white);
    --accent-theme-color: light-dark(#aa0, #ff0);
    --accent-toggle-color: light-dark(#22f, #77f);
    --accent-link-color: light-dark(#a1a, #f8f);

    --drop-shadow-toggle: drop-shadow(0 0 8px var(--accent-toggle-color));
    --drop-shadow-theme: drop-shadow(0 0 8px var(--accent-theme-color))
        drop-shadow(0 0 12px var(--accent-theme-color))
        drop-shadow(0 0 24px var(--accent-theme-color));
    --drop-shadow-link: drop-shadow(0 0 8px var(--accent-link-color));
    --drop-shadow-text: drop-shadow(0 0 6px var(--primary-foreground-color));
    --drop-shadow-header: drop-shadow(0 0 1px var(--primary-foreground-color))
        drop-shadow(0 0 8px var(--primary-foreground-color))
        drop-shadow(0 0 16px var(--primary-foreground-color));
    --drop-shadow-card: var(--drop-shadow-text);

    --gap: 32px;
    --lightup-transition: 200ms ease-out;

    --font-text-size: 16px;
    --font-subheader-size: calc(var(--font-text-size) * 1.5);
    --font-header-size: calc(var(--font-text-size) * 3);
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 100;
}

*::selection {
    color: var(--secondary-background-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: calc(var(--gap) * 2 + 32px);
}

body {
    background-image: linear-gradient(to left, #222, #333);
    color: var(--primary-foreground-color);
    font-family: "Kanit", sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-text-size);
    cursor:
        url("../public/cursor/cursor.svg") 24 24,
        auto;
}

/* Mozilla browsers do not apply smoothing on linear gradient, hence, using a solid color */
@-moz-document url-prefix() {
    body {
        background-image: none;
        background-color: var(--primary-background-color);
    }
}

button,
a,
span {
    cursor:
        url("../public/cursor/pointer.svg") 24 24,
        auto;
}

h1,
h2,
p {
    cursor:
        url("../public/cursor/select.svg") 24 24,
        auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--primary-foreground-color);
}

h1 {
    font-size: var(--font-header-size);
    font-weight: var(--font-weight-bold);
    transform: translateZ(0);
}

h2 {
    font-size: var(--font-subheader-size);
    font-weight: var(--font-weight-bold);
}

h1,
h2 {
    -webkit-text-stroke: 1px var(--primary-foreground-color);
    text-stroke: 1px var(--primary-foreground-color);
    color: transparent;
    transition: filter var(--lightup-transition);
}

h1:hover,
h2:hover {
    filter: var(--drop-shadow-header);
}

p {
    transition: filter var(--lightup-transition);
}

p:hover {
    filter: var(--drop-shadow-text);
}

section {
    padding: var(--gap) 0;
}

header {
    margin-inline: 20%;
}

section,
footer {
    padding-inline: 20% !important;
}

main {
    padding-top: calc(var(--gap) * 2 + 32px);
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}
