@import "animations.css";

@import "header.css";
@import "footer.css";

@import "sections/about.css";
@import "sections/projects.css";
@import "sections/experience.css";

@import "fonts.css";

:root {
    color-scheme: light dark;

    --color-primary-background: light-dark(white, #222);
    --color-secondary-background: #333;
    --color-primary-foreground: light-dark(#333, white);
    --color-accent-theme: light-dark(#aa0, #ff0);
    --color-accent-toggle: light-dark(#22f, #77f);
    --color-accent-link: light-dark(#a1a, #f8f);

    --drop-shadow-toggle: drop-shadow(0 0 8px var(--color-accent-toggle));
    --drop-shadow-theme: drop-shadow(0 0 8px var(--color-accent-theme)) drop-shadow(0 0 12px var(--color-accent-theme)) drop-shadow(0 0 24px var(--color-accent-theme));
    --drop-shadow-link: drop-shadow(0 0 8px var(--color-accent-link));
    --drop-shadow-text: drop-shadow(0 0 6px var(--color-primary-foreground));
    --drop-shadow-header: drop-shadow(0 0 1px var(--color-primary-foreground)) drop-shadow(0 0 8px var(--color-primary-foreground)) drop-shadow(0 0 16px var(--color-primary-foreground));
    --drop-shadow-card: var(--drop-shadow-text);

    --gap: 32px;
    --lightup-transition: 200ms ease-out;

    --font-size-normal: 16px;
    --font-size-medium: 1.5rem;
    --font-size-large: 3rem;
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 100;
}

*::selection {
    color: var(--color-secondary-background);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: calc(var(--gap) * 2 + 2rem);
    font-size: var(--font-size-normal);
}

body {
    background-image: linear-gradient(to left, #222, #333);
    color: var(--color-primary-foreground);
    font-family: "Kanit", sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-normal);
    cursor:
        url("../public/cursor/cursor.svg") 24 24,
        auto;
}

/* Mozilla browsers do not apply smoothing on linear gradient, hence, using a solid color */
@-moz-document url-prefix() {
    body {
        background-image: none;
        background-color: var(--color-primary-background);
    }
}

button,
a,
span {
    cursor:
        url("../public/cursor/pointer.svg") 24 24,
        auto;
}

h1,
h2,
p {
    cursor:
        url("../public/cursor/select.svg") 24 24,
        auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: var(--color-primary-foreground);
}

h1 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    transform: translateZ(0);
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

h1,
h2 {
    -webkit-text-stroke: 1px var(--color-primary-foreground);
    text-stroke: 1px var(--color-primary-foreground);
    color: transparent;
    transition: filter var(--lightup-transition);
}

h1:hover,
h2:hover {
    filter: var(--drop-shadow-header);
}

p {
    transition: filter var(--lightup-transition);
    font-size: var(--font-size-normal);
}

p:hover {
    filter: var(--drop-shadow-text);
}

header,
footer {
    margin-inline: 20%;
}

main {
    padding-inline: 20%;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}
